.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0a3d62;
  padding: 15px;
  gap: 40px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 12px 24px;
  transition: 0.3s ease;
  border-radius: 8px;
}

.link:hover {
  background-color: #1a5276;
}

.link.active {
  border-bottom: 3px solid #f7f1e3;
}
