.header {
  background-color: #3f51b5;
  padding: 15px;
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  align-items: center;
  background: white;
  padding: 5px;
  border-radius: 8px;
  overflow: hidden;
}

.searchButton {
  background: none;
  border: none;
  padding: 8px;
  cursor: pointer;
  color: #3f51b5;
  font-size: 18px;
}

.input {
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  width: 300px;
}
